img{width: 400px;
    height: 400px;}
p { font-size:30px;}
h3 { color:yellow;}
H1 {color:red;}
body {background-color:pink;}
h2 {font-family: 'Charmonman', cursive;}
img{padding: 50px;}
img{ margin:1px;}
body{text-align: center;}
ul { margin: 0 auto; width: 200px; text-align: left; }